@import url(https://fonts.googleapis.com/css?family=Raleway);

body{
   padding: 20px;
   font-family: 'Raleway';
   background-color: #eee;
}
.content{
   margin-top: 10px;
   padding: 20px;
   font-size: 20px;
   border: 1px #BDC3C7 solid;
}
.center{
   text-align: center;
}
.bold{

   font-weight:bold;

}
.italic{
   font-style:italic;
}
.underline{
   text-decoration: underline;
}
.color{
   color: #ff0000;
}

li a{
   color: blue;
}
li:nth-child(odd) a{
   color: red;
}

ul.editor-toolbar{
   margin: 0;
   padding: 0;
   list-style-type: none;
}
ul.editor-toolbar li{
   display: inline;
}
.editor-toolbar{
   background-color: #2F1E07;
   border: 1px solid #2F1E07;
   border-radius: 5px;
   box-shadow: 0 0 3px #2F1E07;
   width: auto;
}
.editor-toolbar li button{
   background-color: #2F1E07;
   border: 1px solid #2f1e07;
   box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
   color: #fff;
   height: 30px;
   min-width: 40px;
   -webkit-transition: background-color .2s ease-in;
   transition: background-color .2s ease-in;
}
.editor-toolbar li button:hover{
   background-color: #633800;
   color: #fff;
}

.links-display li{
   font-size: 20px;
}
